body{
    background-color: #1452;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.openregular{
    font-family: 'Opendislexy-MonoBold';    
}

span{
    font-family: 'Vina Sans', sans-serif;
    font-size: 64px;
    text-align: center;

}

#dislexia {
    position: fixed;
    bottom: 20px;
    right: 20px;
    white-space: normal;
    width: 10%; 
    text-align: center;
    border-radius: 10%;
    border-color: rgba(247, 248, 248, 0.979);
    background-color: rgb(18,95,145);
    color: aliceblue;
    font-family: 'Opendislexy-Bold'; 
    font-size: 6;
}

section{
width: 75%;
height: 300px;
margin: 5% 13%;
text-align: center;
border-radius: 10px;

}
#s1{
background-color: #7859;
color: #282926;

}
#s2{
    background-color: #2526;
  
    
}

@font-face {
    font-family: 'Opendislexy-Bold';
    src:         
        url('./acessibilidades/OpenDyslexic3-Bold.ttf') format('truetype'),         
        
    }
    
    @font-face {
    font-family: 'Opendislexy-Regular';
    src:
        url('./acessibilidades/OpenDyslexic3-Regular.ttf') format('truetype'); 
    }
    
    @font-face {
    font-family: 'Opendislexy-MonoBold';
    src:        
        
        url('./acessibilidades/OpenDyslexicMono-Regular.otf') format('opentype');
        
    }
   
   

